.item-detail{
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    justify-content: space-around;
}


.item-img{
    margin-top: auto;
    height: 350px;
    width: 350px;
}


.item-detail-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.item-detail-info h3{
    font-size: 30px;
    text-shadow: 2px 2px 4px gray;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.item-detail-info h5{
    font-size: 20px;
    margin-top: 1px;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
}

.item-detail-info h4{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 1px;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.item-detail-ayuda{
    margin-top: 70px;
}

.item-icon{
    padding-right: 25px;
}

.item-detail-button{
        min-width: 90px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 20px;
        border: 2px solid #d90429;
        background: #d90429;
    }

.item-detail-button:hover {
    box-shadow: 0 3px #d90429;
    top: 1px;
}


.item-detail-button:active {
    box-shadow: 0 0 #d90429;
    top: 5px;
}

