
.icon-carts{
    text-decoration: none;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in-out;
}

.cart-visible {
    visibility: visible;
    opacity: 1;
}

.icon-carts:hover{
    color: red;
}

.icon-cart{
    text-decoration: none;
    font-size: 25px;
    padding-left: 50px;
}