.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding-right: 60px;
}

.header-navbar {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navlink {
    font-size: 17px;
    color: black;
    font-family: monospace;
}

.icon-cart{
    font-size: 25px;
    padding-left: 50px;
}

.person-cart{
    font-size: 20px;
    padding-left: 300px;
}

