.section{
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;

}

.icon-card{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 10px;
}