.itemlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    max-width: 1400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}